
  .McAddy-pomodoro{
    display:block;
    margin-top:0px;
    padding-left:10px;
    padding-bottom:15px;
    padding-top:10px;
    color:white;
    background-color:rgb(181, 181, 229);
    text-align:left;
    font-size:2em;
    margin-bottom:3px;
 }
 .parent{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
 }

/* all icons children need these features: */
 .icons> * {
    display: block;
    margin-left:10px;
    margin-top: 40px;
    background-color: rgb(181, 181, 229);
    border:none;
    color:rgb(67, 61, 61);
  }
  .icons>:hover{
    cursor:pointer;
    opacity:0.5;
  }
  .exitButton{
    margin-top:320px;
  }
 
 .left-block {
    margin-right:0px;
    /* position:absolute; */
    background-color:rgb(181, 181, 229);
    
    width:70px;
    /* there's a white space at the bottom if width:700px */
    height: 750px;
    display: inline-block;
    vertical-align: top;
  }
  
  .middle-block{
    /* display:inline-block; */
    /* margin-right:0px; */
    max-width:700px;
    margin-top:40px;
    flex:1;
  }
  .right-block{
    /* position:absolute; */
    display:inline-block;
    background-color:rgb(181, 181, 229);
    width:250px;
    /* width:100%; */
    /* height:100%; */
    vertical-align:top;
    margin-right:0px;

  }

  .container{
  }
  
  .header {
    display: flex;
    /* justify-content: space-between; */
    width: 700px;
    margin-bottom:0px;
  }
  
  .outer-time-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:500px;
    width:700px;
    border:1px;
    background-color:rgb(210, 204, 204);
  }
  .timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    /* width:100%; */
    width: 500px;
    border: 0.5px solid black;
    
    background-color: white;
  }
  
  .timer {
    font-size: 80px;
    margin-bottom: 20px;
  }
  
  .timer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .button-mode {
    margin-bottom:0px;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 450px;
    /* border: 1px solid black; */
    background-color: rgb(210, 204, 204);
  }
  .button-mode:hover{
    cursor:pointer;
    opacity:0.7;
  }
  .button-function {
    
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: rgb(201, 193, 193);
    font-size:20px;
    color: black;
    cursor: pointer;
    border-radius:2px;
    /* transition: opacity 0.8s; */
  }
  
  .button-function:hover {
    opacity:0.7;
  }
  .button-function:active{
    opacity:0.9;
  }